<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Student Information</title>
</head>
<body>
	<th:block th:include="/header"></th:block>
	<div align="center" class="container">
		<h1>Student Information</h1>
		<a href="/student/new">Create New Student</a>
		<br><br/>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>First name</th>
					<th>Last name</th>
					<th>Student ID</th>
					<th>Age</th>
					<th>Sex</th>
					<th>Address</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "student : ${listStudents}">
					<td th:text = "${student.id}">Student id</td>
					<td th:text = "${student.firstName}">First name</td>
					<td th:text = "${student.lastName}">Last name</td>
					<td th:text = "${student.studentId}">Student id</td>
					<td th:text = "${student.age}">Age</td>
					<td th:text = "${student.sex}">Sex</td>
					<td th:text = "${student.address}">Address</td>
					<td class="col-sm-1">
						<a th:href = "@{'/student/edit/' + ${student.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href = "@{'/student/delete/' + ${student.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>