.col-10{
	background-color: #FAFAFA;
	
}
.mainmain{
	margin-top: 300px;
}
.footer{
	background-color: #170B3B;
}
.lala{
	margin-top:  20px;
	margin-bottom: : 10px;

}
.main-header{
	color: black;
}
.main-content{
	margin-top: 30px;
	margin-bottom: 30px;
}
.thanh-tab{
	margin-top: 400px;
	margin-left:300px;
}
/*---Css các ô phòng----*/
.p1{
	height:300px;
	width: 700px;
}
.p2{
	height:300px;
	width: 700px;
	margin-left: 15px;
}
.p3{
	height:300px;
	width: 700px;
	margin-left:15px;
}
.p4{
	height:300px;
	width: 700px;
	margin-left:15px;
}
.p5{
	height:300px;
	width: 700px;
	margin-left:15px;
}
.p6{
	height:300px;
	width: 700px;
	margin-left:200px;
}
.p7{
	height:300px;
	width: 700px;
	margin-left:15px;
}
.p8{
	height:300px;
	width: 700px;
	margin-left:15px;
}
.p9{
	height:300px;
	width: 700px;
	margin-left:15px;
}
.p10{
	height:300px;
	width: 700px;
	margin-left:15px;
}
.p11{
	height:300px;
	width: 700px;
	margin-left:15px;
}
.p12{
	height:300px;
	width: 700px;
	margin-left:200px;
}
