.col-10{
	background-color: #FAFAFA;
	
}
.mainmain{
	margin-top: 300px;
}
.footer{
	background-color: #170B3B;
}
.lala{
	margin-top:  10px;
	margin-bottom: : 10px;

}
.main-header{
	color: black;
}
.main-content{
	margin-top: 30px;
	margin-bottom: 30px;
}
.thanh-tab{
	margin-top: 400px;
	margin-left:300px;
}